.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #b4b2b2;
}

body {
  background: linear-gradient(to left, #76b852, #8DC26F);
  margin: 0;
}
.btn {
  border:0;
}

.shine {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(249, 234, 119, 1);
  -moz-box-shadow: 0px 0px 8px 5px rgba(249, 234, 119, 1);
  box-shadow: 0px 0px 8px 5px rgba(249, 234, 119, 1);
}

header {
  position: relative;
  text-align: center;
  background: #FFFFFF;
  border:0;
  margin-bottom: 40px;
  height: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

header form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

header input, label{
  padding: 10px;
  margin: 20px;
}

header label {
  border-bottom: 1px dotted #b4b2b2;
}